* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 27.71vw;
  height: 160px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

h2 {
  font-family: "Roboto Slab", serif;
  width: 667px;
  height: 93px;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 700;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 662px;
  height: 374px;
  margin-top: 30px;
  margin-left: 17px;
  font-weight: 400;
}

.what-we-learn {
  width: 80%;
  margin: 0 auto;
  height: 736px;
}

.program-course {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.program {
  font-family: "Roboto", sans-serif;
  height: 1191px;
}

.program-container {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  width: 89%;
  margin: 0 auto;
  margin-top: 95px;
}

.program-details {
  width: 27.71vw;
  height: 328px;
  border-radius: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.program-idea {
  width: 365px;
  height: 39px;
  font-size: 30px;
  font-weight: 700;
  padding: 0 17px;
  margin-top: 5px;
}

.program-date {
  width: 365px;
  height: 63px;
  font-size: 25px;
  font-weight: 400;
  padding: 17px;
  margin-top: 24px;
}

@media screen and (min-width: 992px) and (max-width: 1279px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 300px;
    height: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  ul {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 383px;
    height: 217px;
    margin-left: 10px;
    font-weight: 400;
  }
  .learn {
    font-family: "Roboto Slab", serif;
    width: 386px;
    height: 54px;
    font-size: 32px;
    font-weight: 700;
  }

  .what-we-learn {
    width: 80%;
    margin: 0 auto;
    height: 400px;
  }

  .program-course {
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
  }

  .program-course h2 {
    width: 524px;
    height: 54px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .program {
    font-family: "Roboto", sans-serif;
    height: 781px;
  }
  
  .program-container {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    width: 954px;
    margin: 0 auto;
    margin-top: 55px;
  }
  .program-details {
    width: 300px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }
  
  .program-idea {
    width: 290px;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
    padding: 0 15px;
    margin-top: 2px;
  }
  
  .program-date {
    width: 290px;
    height: 42px;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin-top: 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px){
  
}