*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

.head{
  width: 112px;
  height: 66px;
  margin-bottom: 50px;
}

.info , .clock , .date{
  display: inline;
}

.globe{
  width: 22px;
  height: 21px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.kurs{
  display: inline;
  width: 130px;
  height: 32px;
  font-weight: 400;
  font-size: 20px;
}

.clock-logo{
  margin-left: 30px;
  width: 22px;
  height: 22px;
}

.clock-text{
  width: 130px;
  height: 32px;
  display: inline;
  font-size: 20px;
  font-weight: 400;
}

.date-logo{
  margin-left: 30px;
  width: 20px;
  height: 22px; 
}

.date-text{
  width: 130px;
  height: 32px;
  display: inline;
  font-size: 20px;
  font-weight: 400;
}

h1{
  font-family: "Roboto Slab", serif;
  width: 628px;
  height: 190px;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0;
}

.txt{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

.film-izle{
  width: 1185px;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.text1{
  font-family: "Roboto Slab", serif;
  width: 430.59px;
  height: 113px;
  font-size: 25px;
  font-weight: 400;
}

.kameraa{
  width:350px ;
}

.kameraman{
  width: 304px;
  height: 356px;
}

.box{
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 483.63px;
  background-color:#1E4681;
  color: white;
  margin-bottom: 150px;
}

.text2{
  margin-top: 23px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
}

.o-kurse{
  display: flex;
  width: 1185px;
  justify-content: space-between;
}


.o-kurse-text{
  width: 662px;
  font-size: 24px;
  font-weight: 400;
}

.o-text1{
  margin-top: 30px;
}

.o-kurse-img-div{
   width: 350px;
}

.o-kurse-img{
  width: 314px;
  height: 315px;
  margin-top: 25px;
}

.boxes1{
  display: flex;
  margin-bottom: 150px;
}

.boxes1-img{
  width: 232px;
  height: 203px;
  margin-top: 70px;
}

h3{
  width: 150px;
  height: 39px;
  font-size: 25px;
  font-weight: 700;
}

.boxes1-text{
  width: 150px;
  height: 39px;
  font-size: 18px;
  font-weight: 400;
}

.boxes2{
  width: 700px;
  justify-content: space-around;
  display: flex;
  margin-top: 150px;
  margin-left: 80px;
}

.box-img{
  width: 200px;
}

.last-boxes{
  display: flex;
  justify-content: space-around;
  margin-left: -61px;
  margin-bottom: 150px;
}

.vebinar{
  font-size: 25px;
  font-weight: 700;
  color:  #1E4681;
  width: 150px;
  height: 39px;
}

.sec{
  width: 214px;
}

.last-text1{
width: 223px;
height: 39px;
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
}

.last-text2{
width: 271px;
height: 109px;
font-size: 18px;
font-weight: 400;
text-align: left;
}

.last-text3{
width: 245px;
height: 39px;
font-size: 18px;
font-weight: 400;
text-align: left;
}

.format{
font-family: "Roboto Slab", serif;
font-size: 55px;
font-weight: 700;
height: 93px;
margin-bottom: 100px;
}

.course-describing-image {
  width: 27.71vw;
  height: 11.11vw;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

h2 {
  font-family: "Roboto Slab", serif;
  width: 667px;
  height: 93px;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 700;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 662px;
  height: 374px;
  margin-top: 30px;
  margin-left: 17px;
  font-weight: 400;
}

.what-we-learn {
  width: 80%;
  margin: 0 auto;
  height: 736px;
}

.program-course {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.program {
  font-family: "Roboto", sans-serif;
  height: 1191px;
}

.program-container {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  width: 89%;
  margin: 0 auto;
  margin-top: 95px;
}

.program-details {
  width: 27.71vw;
  height: 22.77vw;
  border-radius: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.program-idea {
  width: 25.34vw;
  height: 39px;
  font-size: 2.08vw;
  font-weight: 700;
  padding: 0 17px;
  margin-top: 5px;
}

.program-date {
  width: 25.34vw;
  height: 63px;
  font-size: 1.73vw;
  font-weight: 400;
  padding: 17px;
  margin-top: 24px;
}

@media screen and (min-width: 992px) and (max-width: 1279px){
  .head{
        width: 64.87px;
        height: 38.23px;
    }
    .globe{
    width: 12.74px;
    height: 12.16px;
    }
    .kurs{
    width: 75.29px;
    height: 18.53px;
    font-size: 12px;
    }
    .clock-logo{
    width: 12.74px;
    height: 12.74px;
    }
    .clock-text{
    width: 75.29px;
    height: 18.53px;
    font-size:12px;
    }
    .date-logo{
    width: 11.58px;
    height: 12.74px;
    }
    .date-text{
    width: 75.29px;
    height: 18.53px;
    font-size: 12px;
    
    }
    h1{
    width: 363.72px;
    height: 110.04px;
    font-size:46px;
    }
    .txt{
    font-size: 12px;
    }
    .kameraman{
    width: 176.07px;
    height: 206.18px;
    }
    .box{
    width: 280.11px;
    border-radius: 2.9px;  
    
    }
    .text1{
    width: 249.38px;
    height: 65.45px;
    font-size: 14px;
    }
    .text2{
    font-size:12px ;
    width: 150px;
    height: 26.43px;
    text-align: right;
    margin-left: 80px;
    justify-content: center;
    }
    h3{
        font-size: 32px;
    }
    .o-kurse-text{
        width: 384px;
        font-size: 14px;
    }
  img {
    width: 27.7vw;
    height: 11.11vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  ul {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 383px;
    height: 217px;
    margin-left: 10px;
    font-weight: 400;
  }
  .learn {
    font-family: "Roboto Slab", serif;
    width: 386px;
    height: 54px;
    font-size: 32px;
    font-weight: 700;
  }

  .what-we-learn {
    width: 80%;
    margin: 0 auto;
    height: 400px;
  }

  .program-course {
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
  }

  .program-course h2 {
    width: 524px;
    height: 54px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .program {
    font-family: "Roboto", sans-serif;
    height: 781px;
  }
  
  .program-container {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin: 0 auto;
    margin-top: 55px;
  }
  .program-details {
    width: 27.7vw;
    height: 22.77vw;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }
  
  .program-idea {
    width: 290px;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
    padding: 0 15px;
    margin-top: 2px;
  }
  
  .program-date {
    width: 290px;
    height: 42px;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin-top: 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px){
  img {
    width: 27.7vw;
    height: 11.11vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  ul {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 383px;
    height: 217px;
    margin-left: 10px;
    font-weight: 400;
  }
  .learn {
    font-family: "Roboto Slab", serif;
    width: 386px;
    height: 54px;
    font-size: 32px;
    font-weight: 700;
  }

  .what-we-learn {
    width: 80%;
    margin: 0 auto;
    height: 400px;
  }

  .program-course {
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
  }

  .program-course h2 {
    width: 524px;
    height: 54px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .program {
    font-family: "Roboto", sans-serif;
    height: 781px;
  }
  
  .program-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    gap: 27px;
    width: 954px;
    margin: 0 auto;
    margin-top: 55px;
  }
  .program-details {
    width: 27.7vw;
    height: 22.77vw;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }
  
  .program-idea {
    width: 290px;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
    padding: 0 15px;
    margin-top: 2px;
  }
  
  .program-date {
    width: 290px;
    height: 42px;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin-top: 17px;
  }
}
