*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

.head{
  width: 112px;
  height: 66px;
  margin-bottom: 50px;
}

.info , .clock , .date{
  display: inline;
}

.globe{
  width: 22px;
  height: 21px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.course{
  display: inline;
  width: 130px;
  height: 32px;
  font-weight: 400;
  font-size: 20px;
}

.clock-logo{
  margin-left: 30px;
  width: 22px;
  height: 22px;
}

.clock-text{
  width: 130px;
  height: 32px;
  display: inline;
  font-size: 20px;
  font-weight: 400;
}

.date-logo{
  margin-left: 30px;
  width: 20px;
  height: 22px; 
}

.date-text{
  width: 130px;
  height: 32px;
  display: inline;
  font-size: 20px;
  font-weight: 400;
}

h1{
  font-family: "Roboto Slab", serif;
  width: 628px;
  height: 190px;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0;
}

.info-text{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

.watch-movie{
  width: 1185px;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.text1{
  font-family: "Roboto Slab", serif;
  width: 430.59px;
  height: 113px;
  font-size: 25px;
  font-weight: 400;
}

.camera{
  width:350px ;
}

.cameraman{
  width: 304px;
  height: 356px;
}

.box{
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 483.63px;
  background-color:#1E4681;
  color: white;
  margin-bottom: 150px;
}

.text2{
  margin-top: 23px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
}

.in-course{
  display: flex;
  width: 1185px;
  justify-content: space-between;
}


.in-course-text{
  width: 662px;
  font-size: 24px;
  font-weight: 400;
}

.course-text1{
  margin-top: 30px;
}

.in-course-img-div{
   width: 350px;
}

.in-course-img{
  width: 314px;
  height: 315px;
  margin-top: 25px;
}

.boxes1{
  display: flex;
  margin-bottom: 150px;
}

.boxes1-img{
  width: 232px;
  height: 203px;
  margin-top: 70px;
}

h3{
  width: 150px;
  height: 39px;
  font-size: 25px;
  font-weight: 700;
}

.boxes1-text{
  width: 150px;
  height: 39px;
  font-size: 18px;
  font-weight: 400;
}

.boxes2{
  width: 700px;
  justify-content: space-around;
  display: flex;
  margin-top: 150px;
  margin-left: 80px;
}

.box-img{
  width: 200px;
}

.last-boxes{
  display: flex;
  justify-content: space-around;
  margin-left: -61px;
  margin-bottom: 150px;
}

.vebinar{
  font-size: 25px;
  font-weight: 700;
  color:  #1E4681;
  width: 150px;
  height: 39px;
}

.sec{
  width: 214px;
}

.last-text1{
width: 223px;
height: 39px;
font-size: 18px;
font-weight: 400;
line-height: 23px;
text-align: left;
}

.last-text2{
width: 271px;
height: 109px;
font-size: 18px;
font-weight: 400;
text-align: left;
}

.last-text3{
width: 245px;
height: 39px;
font-size: 18px;
font-weight: 400;
text-align: left;
}

.format{
font-family: "Roboto Slab", serif;
font-size: 55px;
font-weight: 700;
height: 93px;
margin-bottom: 100px;
}

.course-describing-image {
  width: 27.71vw;
  height: 11.11vw;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

h2 {
  font-family: "Roboto Slab", serif;
  width: 52.15vw;
  height: 7.27vw;
  margin-bottom: 1.56vw;
  font-size: 3.81vw;
  font-weight: 700;
}

ul {
  font-family: "Roboto", sans-serif;
  font-size: 1.66vw;
  width: 51.75vw;
  height: 29.24vw;
  margin-top: 2.34vw;
  margin-left: 1.32vw;
  font-weight: 400;
}

.what-we-learn {
  width: 80%;
  margin: 0 auto;
  height: 736px;
}

.program-course {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.program {
  font-family: "Roboto", sans-serif;
  height: 1191px;
}

.program-container {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  width: 89%;
  margin: 0 auto;
  margin-top: 95px;
}

.program-details {
  width: 27.71vw;
  height: 22.77vw;
  border-radius: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.program-idea {
  height: 2.7vw;
  font-size: 2.08vw;
  font-weight: 700;
  padding: 0 1.18vw;
  margin-top: 5px;
}

.program-date {
  font-size: 1.73vw;
  font-weight: 400;
  padding: 1.18vw;
  margin-top: 1.66vw;
}

@media screen and (min-width: 992px) and (max-width: 1279px){

  .head{
    width: 7.7vw;
    height: 4.6vw;
  }
  .globe{
    width: 1.5vw;
    height: 1.5vw;
  }
  .course{
    width: 9vw;
    height: 2.2vw;
    font-size: 1.4vw;
  }
  .clock-logo{
    width: 1.5vw;
    height: 1.5vw;
  }
  .clock-text{
    width: 9.01vw;
    height: 2.21vw;
    font-size:  1.43vw;
  }
  .date-logo{
    width: 1.4vw;
    height: 1.5vw;
  }
  .date-text{
    width: 9.01vw;
    height: 2.21vw;
    font-size:  1.43vw;
  }
  h1{
    width: 43.6vw;
    height: 13.2vw;
    font-size:5.5vw;
  }
  .info-text{
    font-size: 1.43vw;
  }
  .cameraman{
    width: 21.1vw;
    height: 24.7vw;
  }
  .box{
    width: 33.6vw;
    border-radius: 0.4vw;  

  }
  .text1{
    width: 29.9vw;
    height: 7.8vw;
    font-size: 1.7vw;
  }
  .text2{
    font-size: 1.43vw;
    width: 18vw;
    height: 3.2vw;
    text-align: right;
    margin-left: 9.6vw;
    justify-content: center;
  }
  h3{
    font-size: 3.8vw;
  }
  .in-course-text{
    width: 46vw;
    font-size: 1.7vw;
  }
  .boxes1-img{
    width: 16vw;
    height: 14vw;
  }
  .boxes1-text{
    font-size: 1.3vw;

  }
  .course-describing-image {
    width: 27.7vw;
    height: 11.11vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  ul {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 586px;
    height: 330px;
    margin-left: 10px;
    font-weight: 400;
  }
  .learn {
    font-family: "Roboto Slab", serif;
    width: 30vw;
    height: 4.22vw;
    font-size: 2.5vw;
    font-weight: 700;
  }

  .what-we-learn {
    width: 80%;
    margin: 0 auto;
    height: 400px;
  }

  .program-course {
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 2.5vw;
    font-weight: 700;
  }

  .program-course h2 {
    width: 40.96vw;
    height: 4.22vw;
    font-size: 2.5vw;
    font-weight: 700;
  }
  
  .program {
    font-family: "Roboto", sans-serif;
    height: 1000dpx;
  }
  
  .program-container {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-top: 55px;
  }
  .program-details {
    width: 27.7vw;
    height: 22.77vw;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }
  
  .program-idea {
    width: 22.67vw;
    height: 2.34;
    font-size: 1.72vw;
    font-weight: 700;
    padding: 0 15px;
    margin-top: 2px;
  }
  
  .program-date {
    width: 22.67vw;
    height: 3.28vw;
    font-size: 1.32vw;
    font-weight: 400;
    padding: 1.17vw;
    margin-top: 1.32vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px){

  head{
    width: 14.1vw;
    height: 8.3vw;
  }
  .globe{
    width: 3vw;
    height: 2.61vw;
  }
  .course{
    width: 16.2vw;
    height: 4vw;
    font-size: 2.7vw;
  }
  .clock-logo{
    width: 2.9vw;
    height: 2.9vw;
  }
  .clock-text{
    width: 16.2vw;
    height: 4vw;
    font-size: 2.7vw;
  }
  .date-logo{
    width: 2.5vw;
    height: 2.9vw;
  }
  .date-text{
    width: 16.2vw;
    height: 4vw;
    font-size: 2.7vw; 
  }
  h1{
    width: 78vw;
    height: 23.6vw;
    font-size: 9.9vw;
  }
  .info-text{
  width: 56.6vw ;
    height: 7.7vw;
    font-size: 2.7vw;
  }
  .cameraman{
    width: 37.9vw;
    height: 46.7vw;
    margin-top: 150px;
    margin-left: -140px;
  }

  .box{
    display: inline-block;
    width: 60.1vw;
    margin-bottom: 50px;
  }
  .text1{
    width: 50,5vw;
    height: 14.04vw;
    font-size: 2.9vw;
  }
  h3{
    font-size: 6.9vw;
  }

  .course-text1{
    width: 82.3vw;
    font-size: 3.2vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .in-course-img-div{
    width: 45.5vw;
  }
  .o-course-img{
    width: 45.5vw;
    height: 42.75vw;
    margin-top: 53.3vw;
    margin-left: -32vw;
  }

  .box-img{
    display: none;
  }
  .boxes1-text{
    width: 22.9vw;
    height: 4.8vw;
    font-size: 2.7vw;
  }
  h4{
    width: 18.64vw;
    height: 4.8vw;
    font-size: 3.2vw;
  }
  .boxes2{
    justify-content: space-around;
    margin-left: 0vw;
    flex-wrap: wrap;
  }
  .format{
    width: 82.9vw;
    height: 11.5vw;
    font-size: 6.9vw;
    margin-bottom: 5vw;
  }
  .last-text1{
    width: 48vw;
    height: 12.5vw;
    font-size: 2.7vw;
  }
  .last-text2{
    width: 45vw;
    height: 13.6vw;
    font-size: 2.7vw;
    margin-bottom: 1vw;
  }
  .last-text3{
    width: 42.4vw;
    height: 8.3vw;
    font-size: 2.7vw;
    margin-bottom: 1vw;
  }
  .vebinar{
    width: 26.6vw;
    height: 4.8vw;
    font-size: 3.2vw;
  }
  .last-boxes{
    flex-direction: column;
  }

  .course-describing-image {
    width: 27.7vw;
    height: 11.11vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  ul {
    font-family: "Roboto", sans-serif;
    font-size: 3.2vw;
    width: 79.73vw;
    height: 46.4vw;
    margin-left: 10px;
    font-weight: 400;
  }
  .learn {
    font-family: "Roboto Slab", serif;
    width: 82.66vw;
    height: 11.55vw;
    font-size: 6.93vw;
    font-weight: 700;
  }

  .what-we-learn {
    width: 80%;
    margin: 0 auto;
    height: 400px;
  }

  .program-course {
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 6.93vw;
    font-weight: 700;
  }

  .program-course h2 {
    width: 112.53vw;
    height: 11.55vw;
    font-size: 6.93vw;
    font-weight: 700;
  }
  
  .program {
    font-family: "Roboto", sans-serif;
    height: 781px;
  }
  
  .program-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin: 0 auto;
    margin-top: 55px;
  }
  .program-details {
    width: 27.7vw;
    height: 22.77vw;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }
  
  .program-idea {
    width: 49.57vw;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
    padding: 0 15px;
    margin-top: 2px;
  }
  
  .program-date {
    width: 49.57vw;
    height: 42px;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin-top: 17px;
  }
}
